@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
    z-index: -99999;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.fade-in {
  animation: fadeIn 0.2s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    z-index: -99999;
  }
}
.fade-out {
  animation: fadeOut 0.2s ease-in-out forwards;
}
