.features {
  background-color: $lightGrayishBlue;
  text-align: center;
  @include breakpoint-up(large) {
    text-align: left;
  }
  .container {
    padding-top: 4rem;
    padding-bottom: 4rem;
    @include breakpoint-up(large) {
      padding-top: 6.25rem;
      padding-bottom: 6.25rem;
    }
  }
  &__desc {
    line-height: 1.6;
    font-size: $font-med;
    @include breakpoint-up(large) {
      font-size: $font-lg;
    }
  }
  &__list {
    margin-top: 3.5rem;
    @include breakpoint-up(medium) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__item {
    @include breakpoint-down(small) {
      &:not(:first-child) {
        margin-top: 1.875rem;
      }
    }
    @include breakpoint-down(medium) {
      & + & + & {
        margin-top: 1.875rem;
      }
    }
    @include breakpoint-up(medium) {
      width: calc(50% - (30px / 2));
    }
    @include breakpoint-up(large) {
      width: calc(25% - (90px / 4));
    }
    &-icon {
      display: block;
      margin-bottom: 1.75rem;
      @include breakpoint-up(large) {
        margin-bottom: 2.5rem;
      }
      > img {
        display: block;
        margin: 0 auto;
        @include breakpoint-up(large) {
          margin: 0;
        }
      }
    }
    &-title {
      margin-bottom: 1.25rem;
      font-size: $font-lg;
      font-weight: 300;
      color: $darkBlue;
      @include breakpoint-up(large) {
        font-size: $font-xlg;
        margin-bottom: 1.75rem;
      }
    }
    &-desc {
      line-height: 1.6;
      font-size: $font-sm;
    }
  }
}
