.header {
  background: $white;
  @include breakpoint-down(medium) {
    .overlay {
      position: fixed;
      top: 4rem;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(rgba($darkBlue, 0.7), transparent);
      visibility: hidden;
    }
  }
  &__nav {
    height: 4rem;
    padding: 0 24px;
    @include breakpoint-up(large) {
      height: 5rem;
    }
  }
  &__logo {
    > img {
      display: block;
      width: 140px;
    }
  }

  &__menu {
    width: 24px;
    height: 24px;
    > i {
      display: block;
      position: relative;
      width: 100%;
      height: 1px;
      background: $darkBlue;
      transition: background 0.2s ease-in-out;
      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background: $darkBlue;
        transition: transform 0.2s ease-in-out;
      }
      &::before {
        top: -5px;
      }
      &::after {
        top: 5px;
      }
    }
  }

  &__links {
    align-self: stretch;
    > a {
      position: relative;
      margin: 0 15px;
      font-size: $font-sm;
      transition: color 0.2s ease-in-out;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }
      &:hover {
        color: $darkBlue;
        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__cta {
    font-size: $font-sm;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 0.75;
    }
  }

  // open styles
  @include breakpoint-down(medium) {
    &.open {
      .header__menu {
        > i {
          background-color: transparent;
          &::before,
          &::after {
            top: 0;
          }
          &::before {
            transform: rotate(45deg);
          }
          &::after {
            transform: rotate(-45deg);
          }
        }
      }
      .header__links {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 5.5rem;
        left: 1.5rem;
        right: 1.5rem;
        padding: 20px;
        border-radius: 0.25rem;
        background: $white;
        z-index: 9999;
        > a {
          display: block;
          margin: 15px 0;
          text-align: center;
          font-size: 1rem;
          color: $darkBlue;
        }
      }
    }
  }
}
